

mat-card + mat-card {
    margin-top: 1em;
}

mat-form-field,
lab-req-discipline-select {
    width: 100%;
}

lab-req-discipline-select {
    padding-left: 1em;
    box-sizing: border-box;
}


.supervisor-discipline,
.project-from-to {
    display: flex;
}