:host {
  display: flex;
  position: relative;
}

main {
  flex-basis: 80%;
  max-width: 60vw;
  margin-left: 1em;
  padding-left: 1em;
  box-sizing: border-box;
}

mat-nav-list.collapsed {
  width: 36px;
}
