.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.table-header .table-title {
  margin: 0;
}

.table-actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  min-width: 13em;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-detail-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-detail-row):active {
  background: #efefef;
}

tr.element-row ::ng-deep td {
  border-bottom-width: 0;
}

/*
tr.expanded-element-row td,
tr.detail-row:not(.expanded-detail-row) td {
    border-bottom-width: 0;
}
*/

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-actions {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.no-data-info {
  display: flex;
  align-items: center;
}
